.nyt-header {
	font-family: 'Roboto', sans-serif;
	width: 100%;
}

.masthead {
	font-size: 11px;
	text-transform: uppercase;
	display: flex;
	width: 100%;
	background: #FFF;
	border-bottom: 1px solid #ccc;
	padding: 0px 8px;
	& > div {
		display: flex;
		align-items: center;
		min-width: 33.3%;
		padding: 9px;
		vertical-align: baseline;
		min-height: 47px;
	}
	div.sections {
		margin: 0;
		padding: 7px 12px;
		border-radius: 3px;
		border: 1px solid #cecece;
		box-shadow: 0 3px 2px 0 rgba(0,0,0,0.06), inset -1px -1px 1px 0 rgba(0,0,0,0.02);
		height: 30px;
		img {
			height: 10px;
			width: 13px;
			max-height: 26px;
			margin-right: 7px;
			position: relative;
			top: 1px;
			@media(max-width: 720px) {
				margin-right: 0;
			}
		}
		@media(max-width: 720px) {
			font-size: 0;
		}
	}
	.menus {
		span {
			display: flex;
			margin-left: 16px;
			& > img {
				height: 14px;
				width: auto;
				margin: 0 7px;
			}
			@media(max-width: 720px) {
				display: none;
			}
		}
	}
	.branding {
		justify-content: center;
		img {
			height: 18px;
			width: auto;
		}
	}
	.profile {
		justify-content: flex-end;
		img {
			height: 14px;
			width: auto;
			margin: 0 7px;
		}
	}
}
